:root {
    --main-bg-color: #fbf1c7;
    --main-fg-color: #282828;
    --board-border: 4px solid var(--main-fg-color);
}

body {
    position: fixed;
    height: 100%;
    width: 100%;;
    margin: 0;
    padding: 0;
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    font-family: sans-serif;
}

header {
    display: block;
    line-height: 1em;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    text-align: center;
    color: var(--main-fg-color);
    background-color: #689d6a;
    border: 1px solid var(--main-fg-color);
    padding: 0;
    width: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    padding:0;
    width: 100%;
    text-align: right;
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 15px;
}

footer a {
    color: #504945;
    text-decoration: none;
    padding-right: 20px;
}

#boardContainer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 33%;
    margin: 0 auto;
}

#board {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 50%;
}

.boardSquare {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 6em;
}

.boardSquare:nth-child(-n+3) {
    border-bottom: var(--board-border);
}

.boardSquare:nth-child(3n+1) {
    border-right: var(--board-border);
}

.boardSquare:nth-child(3n) {
    border-left: var(--board-border);
}

.boardSquare:nth-child(n+7) {
    border-top: var(--board-border);
}
